<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}
		
    <a id="sitename" href="{{site.baseurl}}">www.yangsailing.com</a>
  </h1>

  <!-- Add something about you in p tag-->
  <p>本博客长期专注软件开发基本功，Linux平台基础开源(nginx, redis, memcached)软件分析、研究，高级数据结构与算法详解，大数据(kafka，Samza，hadoop)相关原理剖析，欢迎不涩指点</p>
  <hr/>
  
  {% include nav-links.html %} 
	 
</div>


